.slide-img{
    filter: brightness(65%);
}

html,body{
    min-height: 100vh;
    min-width: 100vh;
 }

 main
 {
    background-color: rgb(37, 35, 33);
 }

 h1
 {
    color: #f3f0d7;
    
 }
 
 .carousel-caption {
    top: 50%;
    bottom: auto;
}


