body {
    background-color: #202020;
    color: white;
}

h1 {
    color: #b8a671;
}

.card {
    background-color: #2e2e2e;
}

.btn {
    color: white;
    background-color: rgb(29, 29, 29);
    border: 0000;
}

.btn:hover {
    background-color: #b6a267;
}

.card-img-top {
    filter: grayscale(100%);
    transition: transform .5s ease;
}

.card:hover .card-img-top {
    filter: grayscale(0%);
    transform: scale(1.2);
}